<!doctype html>
<html>
  <head>
  <title> Angular JS </title>
  </head>
  <body ng-app="F1FeederApp" ng-controller="driversController">
    <table>
      <thead>
        <tr><th colspan="4">Drivers Championship Standings</th></tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" ng-model="nameFilter" placeholder="Search..."/></td>
        </tr>
        <tr ng-repeat="driver in driversList | filter: nameFilter">
          <td>{{$index + 1}}</td>
          <td>
            <img src="img/flags/{{driver.Driver.nationality}}.png" />
            {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
          </td>
          <td>{{driver.Constructors[0].name}}</td>
          <td>{{driver.points}}</td>
        </tr>
      </tbody>
    </table>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-route.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/services.js"></script>
  <script type="text/javascript" src="js/controller.js"></script>
</html>