<!-- Gallery.html -->
    <div class="jumbotron text-center">
        <h1>Gallery</h1>

        <div id="gallery">
	        <div class="full_image">
	        	<ul ng-repeat="image in images">
	        		<li>
	        			<img ng-src="{{image.src}}"/>
	        		</li>
	        	</ul>
	        </div>

	        <div class="clearfix" id="thumbnail">
	        	<ul ng-repeat="image in images">
	        		<li>
	        			<a href="" ng-click="showImage(image.$index)">
	        				<img ng-src="{{IMAGE_LOCATION+image.src}}" width="{{thumbnail_width}}"/>
	        			</a>	
	        		</li>
	        	</ul>
	        </div>
        </div>
    </div>